*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin: 2%;
    padding: 10px;
    background-color: #ede9e9;
    border-radius: 15px;
}
th, td{
    padding:5px 10px;
}
ul{
    list-style-type: none;
}
li{
    padding: 0px 2px;
}
.img{
    border: 1px solid yellow;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 50%;
}
body{
    background-color: black;
}